{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Dashboard - Adminpanel</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
    {% endblock %}
{% endblock %}

{% block header %}
    <h1>Willkommen im Adminbereich</h1>
    <p>Sie sind eingeloggt seid: {{loggedinsince}}</p>
    {% include "userheader.twig" %}
{% endblock %}

{% block content %}
    <section>
        <article>
            <h2>Benutzerverwaltung:</h2>
            <ul>
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('add') }}">Benutzer hinzufügen</a>
                    </p>
                </li>					
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('update') }}">Benutzerdaten bearbeiten</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('delete') }}">Benutzer löschen</a>                    
                    </p>
                </li>
            </ul>
            <h2>Beitragsverwaltung:</h2>
            <ul>
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('postAdd') }}">Beitrag hinzufügen</a>
                    </p>
                </li>					
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('postUpdate') }}">Beitrag bearbeiten</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('postDelete') }}">Beitrag löschen</a>
                    </p>
                </li>						
            </ul>
            <ul>
                <li>
                    <p>
                        <a href="{{ app.url_generator.generate('logout') }}">Ausloggen</a>
                    </p>
                </li>
            </ul>
        </article>
    </section>
{% endblock %}