{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>G채stebuch</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    {% endblock %}
{% endblock %}
{% block header %}
    <h1 class="heading">Willkommen in diesem G채stebuch</h1>
{% endblock %}
{% block content %}
    <section id='posts'>
        <article>
            <h2 class='articleHeading'><a name='posts'>Letzte Beitr채ge:</a></h2>
        </article>
        {% if message is defined %}
            <p>{{message}}</p>
            <br>
        {% endif %}
        {% if posts == false %}
            <p>Keine Beitr채ge vorhanden!</p>
        {% elseif errormessages is not defined or errormessages is null %}
            {% for post in posts %}
                <p>{{ post.firstname }}</p>
                <p>{{ post.lastname }}</p>
                <p>{{ post.email }}</p>
                <p>{{ post.content }}</p>
                <p>{{ post.created }}</p>
                <br>
            {% endfor %}
            {% include "pagination.twig" %}
        {% endif %}
    </section>
{% include "guestbookform.twig" %}
{% endblock %}