{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Gästebuch</title>
    {% endblock %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="col-lg-12 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-book"></span>
                </a>
            </li>
            <li class="active">Gästebuch</li>
        </ol>
    </div><!--/.row-->   
    
    {% if errormessages is not defined or errormessages is null %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-heart-empty"></span>
                    <strong>Willkommen im Gästebuch!</strong>
                </div>
                <div class="panel-heading">
                    <h2>
                        <a name='posts'>Letzte Beiträge:</a>
                    </h2>
                </div>
                {% if message is defined %}
                <div class="panel-body">
                    <p class="{{message_type}}">{{message}}</p>
                </div>
                {% endif %}
                {% if posts == false %}
                <div class="panel-body">
                    <p>Keine Beiträge vorhanden!</p>
                </div>
                {% endif %}
                {% for post in posts %}
                <div class="panel-body">
                    <p>
                        <strong>Beitrag:</strong> {{ post.content }}
                    </p>
                    <p>
                        <strong>Autor:</strong> {{ post.firstname }} {{ post.lastname }}
                    </p>
                    <p>
                        <strong>E-Mail Adresse:</strong> {{ post.email }}
                    </p>
                    <p>
                        <strong>Erstellt am:</strong> {{ post.created }}
                    </p>
                </div>
                {% endfor %}
                <div class="panel-body">
                    {% include "pagination.twig" %}
                </div>
            </div>
        </div>
    </div><!--/.row-->
    {% endif %}
{% include "guestbookform.twig" %}
{% endblock %}