<fieldset>
    <form action="" method="post" id="guestbookform" class="form-horizontal">      
        <div class="form-group">
            <label for="firstname" class="sr-only control-label">Vorname</label>
            <div class="col-lg-12">
                <div class="form-control-wrapper">
                    <input class="form-control" type="text" id="firstname" name="firstname" value="{% if postdata is defined %}{{postdata.firstname}}{% endif %}" placeholder="Vorname">
                    <span class="material-input"></span>
                </div>                  
            </div>
        </div>
        {% if errormessages is defined and errormessages is not null and errormessages.firstname is defined %}
        <p class="alert alert-dismissable alert-danger">{{errormessages.firstname}}</p>
        {% endif %}
        <div class="form-group">
            <label for="lastname" class="sr-only control-label">Nachname</label>
            <div class="col-lg-12">
                <div class="form-control-wrapper">                
                    <input class="form-control" type="text" id="lastname" name="lastname" value="{% if postdata is defined %}{{postdata.lastname}}{% endif %}" placeholder="Nachname">
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
        {% if errormessages is defined and errormessages is not null and errormessages.lastname is defined %}
        <p class="alert alert-dismissable alert-danger">{{errormessages.lastname}}</p>
        {% endif %}            
        <div class="form-group">
            <label for="email" class="sr-only control-label">E-Mail Adresse</label>
            <div class="col-lg-12">
                <div class="form-control-wrapper">                
                    <input class="form-control" type="email" id="email" name="email" value="{% if postdata is defined %}{{postdata.email}}{% endif %}" placeholder="E-Mail">
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
        {% if errormessages is defined and errormessages is not null and errormessages.email is defined %}
        <p class="alert alert-dismissable alert-danger">{{errormessages.email}}</p>
        {% endif %}              
        <div class="form-group">
            <label for="textinput" class="sr-only control-label">Beitrag (max. 1000 Zeichen)</label>
            <div class="col-lg-12">
                <div class="form-control-wrapper">                
                    <textarea class="form-control" id="textinput" name="textinput" rows="10" cols="20" placeholder="Beitrag (max. 1000 Zeichen)">{% if postdata is defined %}{{postdata.textinput}}{% endif %}</textarea>
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
        {% if errormessages is defined and errormessages is not null and errormessages.textinput is defined %}
        <p class="alert alert-dismissable alert-danger">{{errormessages.textinput}}</p>
        {% endif %}
        <div class="form-group">
            <div class="col-lg-12">          
                <button class="btn btn-primary" name="submit" type="submit">{{ submit_text }}</button>
                <button class="btn btn-default" id="advanced-reset-btn" name="reset">Löschen</button>
            </div>
        </div>
    </form>
</fieldset>