<li>
    <a href="?currentpage={{ previouspage }}" aria-label="Zurück">
        <span aria-hidden="true">&lsaquo;</span>
    </a>
</li>
<li class="{% if firstpage == currentpage %}active{% endif %}">
    <a href="?currentpage={{ firstpage }}" aria-label="Erste Seite">{{ firstpage }}</a>
</li>
{% if pages_before > 0 and pages_before is defined %}
<li class="disabled">
    <a href="javascript:void(0)" aria-label="Übrige Seiten">...</a>
</li>
{% endif %}
{% for number in pagenumber %}
    <li class="{% if number == currentpage %}active{% endif %}">
        <a href="?currentpage={{ number }}">{{ number }}</a>
    </li>     
{% endfor %}
{% if pages_after > 0 and pages_after is defined %}
<li class="disabled">
    <a href="javascript:void(0)" aria-label="Übrige Seiten">...</a>
</li>    
{% endif %}       
<li class="{% if lastpage == currentpage %}active{% endif %}">
    <a href="?currentpage={{ lastpage }}" aria-label="Letzte Seite">{{ lastpage }}</a>
</li>
<li>
    <a href="?currentpage={{ nextpage }}" aria-label="Weiter">
        <span aria-hidden="true">&rsaquo;</span>
    </a>
</li>    