<p class="text-center"><a href='{{ firstpage }}'>Erste Seite</a></p>
<p class="text-center">Aktuelle Seite: {{ currentpage }}</p>
{% for number in pagenumber %}
    <p><a href='?currentpage={{ number }}'>Seite {{number}}</a></p>
{% endfor %}
<p class="text-center"><a href='{{ nextpage }}'>Nächste Seite</a></p>
<p class="text-center"><a href='{{ lastpage }}'>Letzte Seite</a></p>