{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Beitrag bearbeiten - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <h2>Beitrag bearbeiten:</h2>
    {% if posts == false %}
        <p>Keine Beiträge vorhanden!</p>
    {% endif %}
    {% for post in posts %}
        <p>{{ post.firstname }}</p>
        <p>{{ post.lastname }}</p>
        <p>{{ post.email }}</p>
        <p>{{ post.content }}</p>
        <p>{{ post.created }}</p>
        <p>
            <a href="{{ app.url_generator.generate('postUpdate') }}/{{ post.id_entry }}">Bearbeiten</a>
        </p>
        <br>
    {% endfor %}
    {% include "pagination.twig" %}
    <br>     	
{% endblock %}