{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Beitrag bearbeiten - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
{% endblock %}

{% block content %}
<div class="row row-offcanvas row-offcanvas-left">
    {% include "sidebar.twig" %}
    <div class="col-sm-7 col-sm-offset-1">
        <div class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                <i class="mdi-action-view-list"></i> Menu
            </button>
        </div> 			
        <ol class="breadcrumb">
            <li>
                <a href="javascript:void(0)">
                    <span class="mdi-content-create"></span>
                </a>
            </li>
            <li class="active">Bearbeiten</li>
        </ol>
        {% if message is not defined %}
        <article class="well">
            {% if errormessages is not defined or errormessages is null %}            
            <h2>Einzeln ändern:</h2>
            {%endif%}
            <h4>
                <strong>Vorname:</strong> {{ post.firstname }}
            </h4>
            {% if errormessages is not defined or errormessages is null %}                        
            <p>
                <a href="{{ post.id_entry }}/firstname">Vorname bearbeiten</a>
            </p>
            {% endif %}
            <p>
                <strong>Nachname</strong> {{ post.lastname }}
            </p>
            {% if errormessages is not defined or errormessages is null %}                
            <p>
                <a href="{{ post.id_entry }}/lastname">Nachname bearbeiten</a>
            </p>
            {% endif %}            
            <p>
                <strong>Beitrag:</strong> {{ post.content }}
            </p>
            {% if errormessages is not defined or errormessages is null %}
            <p>
                <a href="{{ post.id_entry }}/content">Beitrag bearbeiten</a>
            </p>
            {% endif %}
            <p>
                <strong>E-Mail:</strong> {{ post.email }}
            </p>
            {% if errormessages is not defined or errormessages is null %}
            <p>
                <a href="{{ post.id_entry }}/email">E-Mail bearbeiten</a>
            </p>
            {% endif %}
        </article>
        {% endif %}
        <section class="well">
            <h3>
                <a name='add'>{{ headline }}</a>                
            </h3>            
            {% if message is defined %}
            <p class="{{message_type}}">{{message}}</p>
                {% if message_type == 'alert alert-dismissable alert-danger' %}
                <p class="text-right">
                    <a href="{{ app.url_generator.generate('postUpdate') }}/{{post.id_entry}}">Zurück</a>            
                </p>
                {% else %}
                <p class="text-right">
                    <a href="{{ app.url_generator.generate('postUpdate') }}">Zurück</a>            
                </p>                
                {% endif %}
            {% endif %}
            {% if message is not defined %}
                {% include "guestbookform.twig" %}
            {% endif %}
        </section>
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}
