{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Beitrag löschen - Adminpanel</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{csspath}}">
    {% endblock %}
{% endblock %}

{% block header %}
    <h1 class="heading">Beitrag löschen</h1>
{% endblock %}

{% block content %}
        {% if message is defined %}
            <p>{{message}}</p>
        {% endif %}
        {% if message is not defined %}
            {% if posts == false %}
                <p>Keine Beiträge vorhanden!</p>
            {% endif %}
            {% for post in posts %}
                <p>{{ post.firstname }}</p>
                <p>{{ post.lastname }}</p>
                <p>{{ post.email }}</p>
                <p>{{ post.content }}</p>
                <p>{{ post.created }}</p>
                <p>
                    <a href="{{ app.url_generator.generate('postDelete') }}/{{ post.id_entry }}">Löschen</a>
                </p>
                <br>
            {% endfor %}
        {% endif %}
        {% if message is not defined %}
            {% include "pagination.twig" %}
            <br>
        {% endif %}
        <p>
            <a href="{{ app.url_generator.generate('dashboard') }}">Zurück zur Übersicht</a>
        </p>            	
{% endblock %}

{% block footer %}   
    <h2 class="heading">Mehr Informationen:</h2>
    <div class="list">
        <ul>
            <li>
                <a href="#">Lorem</a>
            </li>
        </ul>
    </div>
{% endblock %}