{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Beitrag löschen - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
{% endblock %}

{% block content %}
<div class="row row-offcanvas row-offcanvas-left">
    {% include "sidebar.twig" %}
    <div class="col-sm-7 col-sm-offset-1">
        <div class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                <i class="mdi-action-view-list"></i> Menu
            </button>
        </div>
        <ol class="breadcrumb">
            <li>
                <a href="javascript:void(0)">
                    <span class="mdi-action-delete"></span>
                </a>
            </li>
            <li class="active">Löschen</li>
        </ol>
        <section class="well">
            <h3>Beitrag löschen</h3>
            {% if message is defined %}
            <p class="{{message_type}}">{{message}}</p>
            <p class="text-right">
                <a href="{{ app.url_generator.generate('postDelete') }}">Zurück</a>
            </p>
            {% endif %}
            {% if posts == false %}
            <p>Keine Beiträge vorhanden!</p>                
            {% endif %}
        </section>
        {% if message is not defined %}  
            {% for post in posts %}
            <article class="well">
                <h4>
                    <strong>Autor:</strong> {{ post.firstname }} {{ post.lastname }}
                </h4>                
                <p>
                    <strong>Beitrag:</strong> {{ post.content }}
                </p>
                <p>
                    <strong>E-Mail:</strong> {{ post.email }}
                </p>
                <p>
                    <strong>Erstellt am:</strong> {{ post.created }}
                </p>  
                <p>
                    <a href="{{ app.url_generator.generate('postDelete') }}/{{ post.id_entry }}">Löschen</a>
                </p>
            </article>
            {% endfor %}
            {% if posts == true %}
                {% if lastpage != firstpage %}
                <div class="well visible-lg">
                    {% include "pagination_lg.twig" %}
                </div>
                <div class="well visible-md">
                    {% include "pagination_md.twig" %}
                </div>
                <div class="well visible-sm">
                    {% include "pagination_sm.twig" %}
                </div>
                <div class="well visible-xs">
                    {% include "pagination_xs.twig" %}
                </div>
                {% endif %}
            {% endif %} 
        {% endif %}
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}