{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Beitrag bearbeiten - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
    {% include "sidebar.twig" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </li>
            <li class="active">Bearbeiten</li>
        </ol>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
        <div class="panel panel-default">
            {% if message is not defined %}
                {% if errormessages is not defined or errormessages is null %}    
                <div class="panel-heading">
                    <h2>Beitrag bearbeiten</h2>
                </div>
                {% endif %}                
            {% endif %}
            {% if message is defined %}
            <div class="panel-body">
                <p class="{{message_type}}">{{message}}</p>
            </div>
            {% endif %}                
            {% if message is not defined %}
                {% if errormessages is not defined or errormessages is null %}    
                <div class="panel-body">
                    <p>
                        <strong>Beitrag:</strong> {{ post.content }}
                    </p>
                    <p>
                        <strong>Autor:</strong> {{ post.firstname }} {{ post.lastname }}
                    </p>
                    <p>
                        <strong>E-Mail:</strong> {{ post.email }}
                    </p>
                    <p>
                        <strong>Erstellt am:</strong> {{ post.created }}
                    </p>
                </div>
                {%endif%}
            {% endif %}
            {% include "guestbookform.twig" %}
        </div>
    </div>
</div>
{% endblock %}
