{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Beitrag löschen - Adminpanel</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{csspathone}}">
        <link rel="stylesheet" type="text/css" href="{{csspathtwo}}">
    {% endblock %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <h2>Beitrag löschen</h2>
    {% if message is defined %}
        <p class="{{message_type}}">{{message}}</p>
    {% endif %}
    {% if message is not defined %}
        {% if posts == false %}
            <p>Keine Beiträge vorhanden!</p>
        {% endif %}
        {% for post in posts %}
            <p>{{ post.firstname }}</p>
            <p>{{ post.lastname }}</p>
            <p>{{ post.email }}</p>
            <p>{{ post.content }}</p>
            <p>{{ post.created }}</p>
            <p>
                <a href="{{ app.url_generator.generate('postDelete') }}/{{ post.id_entry }}">Löschen</a>
            </p>
            <br>
        {% endfor %}
    {% endif %}
    {% if message is not defined %}
        {% include "pagination.twig" %}
        <br>
    {% endif %}          	
{% endblock %}