{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzerdaten ändern - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
    {% include "sidebar.twig" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">	
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
            <li class="active">Profil</li>
        </ol>
    </div> 
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
        <div class="login-panel panel panel-default">
            <div class="panel-body">
                {% if message is defined %}
                <p class="{{message_type}}">{{message}}</p>
                {% endif %}
                <form  action="" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="{{oldinput_for}}" class="sr-only">{{oldinput_text}}</label>
                            <input class="form-control" type="text" name="{{oldinput_name}}" placeholder="{{oldinput_text}}">
                        </div>
                        <div class="form-group">
                            <label for="{{newinput_for}}" class="sr-only">{{newinput_text}}</label>
                            <input class="form-control" type="text" name="{{newinput_name}}" placeholder="{{newinput_text}}">
                        </div>
                        <button class="btn btn-primary" name="submit" type="submit">Ändern</button>
                    </fieldset>
                    <p class="text-right">
                        <a href="{{ app.url_generator.generate('settings') }}">Zurück</a>                        
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}