{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzerdaten ändern - Adminpanel</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
{% endblock %}

{% block content %}
    <section id="form">
        {% if message is defined %}
            <p>{{ message }}</p>
        {% endif %}
        <form  action="" method="post">
            <label for="{{oldinput_for}}">
                {{oldinput_text}}
            </label>
            <input type="text" name="{{oldinput_name}}" value="">
            <label for="{{newinput_for}}">
                {{newinput_text}}
            </label>
            <input type="text" name="{{newinput_name}}" value="">
            <input type="submit" value="Ändern">
        </form>
        <p>
            <a href="{{ app.url_generator.generate('settings') }}">Zurück zum Profil</a>
        </p>
    </section>	
{% endblock %}