{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzerdaten ändern - Adminpanel</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link href="../../../../css/styles.css" rel="stylesheet">
    {% endblock %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-body">
                {% if message is defined %}
                <p class="{{message_type}}">{{message}}</p>
                {% endif %}
                <form  action="" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="{{oldinput_for}}" class="sr-only">{{oldinput_text}}</label>
                            <input class="form-control" type="text" name="{{oldinput_name}}" placeholder="{{oldinput_text}}">
                        </div>
                        <div class="form-group">
                            <label for="{{newinput_for}}" class="sr-only">{{newinput_text}}</label>
                            <input class="form-control" type="text" name="{{newinput_name}}" placeholder="{{newinput_text}}">
                        </div>
                        <button class="btn btn-primary" name="submit" type="submit">Ändern</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->
{% endblock %}