<div class="col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="well">
        <ul class="nav nav-pills nav-stacked">
            <li class="{% if is_active_dashboard is defined and is_active_dashboard == true %}active{% endif %}">
                <a href="{{ app.url_generator.generate('dashboard') }}">
                    <i class="mdi-action-dashboard"></i> Übersicht
                </a>
            </li>
            <li class="divider"><hr></li>
            <li class="dropdown {% if is_active_usermanagement is defined and is_active_usermanagement == true %}active{% endif %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-target="#">
                    <i class="mdi-action-list"></i> Benutzer
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ app.url_generator.generate('add') }}">
                            <i class="mdi-content-add"></i> Hinzufügen
                        </a>
                    </li>
                    <li>
                        <a href="{{ app.url_generator.generate('update') }}">
                            <i class="mdi-content-create"></i> Bearbeiten
                        </a>
                    </li>
                    <li>
                        <a href="{{ app.url_generator.generate('delete') }}">
                            <i class="mdi-action-delete"></i> Löschen
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown {% if is_active_postmanagement is defined and is_active_postmanagement == true %}active{% endif %}">
                <a  class="dropdown-toggle" data-toggle="dropdown" href="#" data-target="#">
                    <i class="mdi-action-list"></i> Beitrag 
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ app.url_generator.generate('postAdd') }}">
                            <i class="mdi-content-add"></i> Hinzufügen
                        </a>
                    </li>
                    <li>
                        <a href="{{ app.url_generator.generate('postUpdate') }}">
                            <i class="mdi-content-create"></i> Bearbeiten
                        </a>
                    </li>
                    <li>
                        <a href="{{ app.url_generator.generate('postDelete') }}">
                            <i class="mdi-action-delete"></i> Löschen
                        </a>
                    </li>
                </ul>
            </li>
            <li class="{% if is_active_guestbook is defined and is_active_guestbook == true %}active{% endif %}">
                <a href="{{ app.url_generator.generate('guestbook') }}">
                    <i class="mdi-action-book"></i> Gästebuch
                </a>
            </li>            
            <li class="divider"><hr></li>
            <li class="dropdown {% if is_active_settings is defined and is_active_settings == true %}active{% endif %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-target="#">
                    <i class="mdi-action-account-circle"></i> {{loggeduser}} 
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ app.url_generator.generate('settings') }}">
                            <i class="mdi-action-settings"></i> Settings
                        </a>
                    </li>
                    <li>
                        <a href="{{ app.url_generator.generate('logout') }}">
                            <i class="mdi-navigation-cancel"></i> Ausloggen
                        </a>
                    </li>
                </ul>
            </li>
            <li class="divider"><hr></li>
            <li>
                <a href="#top">
                    <i class="mdi-navigation-expand-less"></i> Nach oben
                </a>
            </li>            
        </ul>
    </div>
</div>