{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzer löschen - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
    {% include "sidebar.twig" %}
{% endblock %}

{% block content %}
    <h2>{{ headline }}</h2>
    {% if message is defined %}
        <p class="{{message_type}}">{{message}}</p>
    {% endif %}
    {% if message is not defined %}
        {% for user in users %}
        <p>Benutzername: {{ user.username }}</p>
        <p>E-Mail: {{ user.useremail }}</p>
        <p>Passwort: {{ user.password }}</p>
        <p>
            <a href="{{ app.url_generator.generate('delete') }}{{ user.id }}">Löschen</a>
        </p>
        <br>
        {% endfor %}
    {% endif %}

    {% if message is not defined %}
        {% include "pagination.twig" %}
        <br>
    {% endif %}
{% endblock %}