{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzer bearbeiten - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
    {% include "sidebar.twig" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </li>
            <li class="active">Bearbeiten</li>
        </ol>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
        <div class="panel panel-default">  
            <div class="panel-heading">
                <h2>Benutzer bearbeiten</h2>
            </div>
            {% if message is defined %}
            <div class="panel-body">
                <p class="{{message_type}}">{{message}}</p>
            </div>
            {% endif %} 
            {% if message is not defined %}
                {% for user in users %}
                <div class="panel-body">
                <p>
                    <strong>Benutzername:</strong> {{ user.username }}
                </p>
                <p>
                    <strong>E-Mail:</strong> {{ user.useremail }}
                </p>
                <p>
                    <strong>Passwort:</strong> (Verschlüsselt)
                </p>
                <p>
                    <a href="{{ app.url_generator.generate('update') }}{{ user.id }}">Bearbeiten</a>
                </p>
                </div>
                {% endfor %}
                <div class="panel-body">
                    {% include "pagination.twig" %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
