<section>
    {% set value = {
        'username' : '', 
        'useremail' : '', 
        'password' : '',
    } %}

    {% if errormessages is defined and errormessages is not null %}
        {% set value = {
            'username' : postdata.username,
            'useremail' : postdata.useremail,
            'password' : postdata.password
        } %}
    {% endif %}        
    <article>
        {% if message is defined %}
            <p>{{message}}</p>
        {% endif %}
        {% if message is not defined %}
        <form  action="" method="post">
            <label for="username">
                Benutzername:
            </label>
            <input type="text" name="username" value="{{value.username}}">
            {% if errormessages is defined and errormessages is not null and errormessages.username is defined %}
                <p class="errorMessage">{{errormessages.username}}</p>
            {% endif %}                
            <label for="useremail">
                E-Mail:
            </label>
            <input type="text" name="useremail" value="{{value.useremail}}">
            {% if errormessages is defined and errormessages is not null and errormessages.useremail is defined %}
                <p class="errorMessage">{{errormessages.useremail}}</p>
            {% endif %}
            <label for="password">
                Passwort:
            </label>
            <input type="password" name="password" value="{{value.password}}">
            {% if errormessages is defined and errormessages is not null and errormessages.password is defined %}
                <p class="errorMessage">{{errormessages.password}}</p>
            {% endif %}
            <input type="submit" value="{{submitvalue}}">
        </form>
        {% endif %}
        <p>
            <a href="{{ app.url_generator.generate('dashboard') }}">Zurück zur Übersicht</a>
        </p>
    </article>
</section>	