{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzer bearbeiten - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
    {% include "sidebar.twig" %}
{% endblock %}

{% block content %}
    {% if message is defined %}
        <p class="{{message_type}}">{{message}}</p>
    {% endif %}
    {% if message is not defined %}
        {% for user in users %}
        <p class="text-center">Benutzername: {{ user.username }}</p>
        <p class="text-center">E-Mail: {{ user.useremail }}</p>
        <p class="text-center">Passwort: {{ user.password }}</p>
        <p class="text-center">
            <a href="{{ app.url_generator.generate('update') }}{{ user.id }}">Bearbeiten</a>
        </p>
        <br>
        {% endfor %}
    {% endif %}

    {% if message is not defined %}
        {% include "pagination.twig" %}
        <br>
    {% endif %}
{% endblock %}
