{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzer bearbeiten - Adminpanel</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
{% endblock %}

{% block content %}
    {% if message is not defined %} 
    {% if errormessages is not defined or errormessages is null %}
        <h2 class="text-center">Daten einzeln ändern:</h2>
            <p class="text-center">Benutzername: {{ user.username }}</p>
            <p class="text-center">
                <a href="{{ user.id }}/username">Benutzername bearbeiten</a>
            </p>
            <br>
            <p class="text-center">E-Mail: {{ user.useremail }}</p>
            <p class="text-center">
                <a href="{{ user.id }}/email">E-Mail bearbeiten</a>
            </p>
            <br>
            <p class="text-center">Passwort: {{ user.password }}</p>
            <p class="text-center">
                <a href="{{ user.id }}/password">Passwort bearbeiten</a>
            </p>
            <br>
        {%endif%}
    {% endif %}

{% include "user_form.twig" %}

{% endblock %}
