{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzer bearbeiten - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
{% endblock %}

{% block content %}
<div class="row">
    {% include "sidebar.twig" %}
    <div class="col-sm-8 col-sm-offset-4 col-lg-10 col-lg-offset-2 main">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </li>
            <li class="active">Bearbeiten</li>
        </ol>
    </div>
    <div class="col-sm-8 col-sm-offset-4 col-lg-10 col-lg-offset-2">
        <div class="login-panel panel panel-default">
            <div class="panel-body">
                {% if message is defined %}
                <p class="{{message_type}}">{{message}}</p>
                {% endif %}
                <form action="" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="{{label_for}}" class="sr-only">{{label_text}}</label>
                            {% if input_name != "content" %}
                            <input type="text" name="{{input_name}}" class="form-control" placeholder="{{label_text}}" autofocus>
                            {% endif %}
                            {% if input_name == "content" %}
                            <textarea class="form-control" name="{{input_name}}" rows="10" cols="20" placeholder="{{label_text}}"></textarea>                          
                            {% endif %}                            
                            {% if errormessages is defined and errormessages is not null and errormessages.textinput is defined %}
                            <p class="errorMessage">{{errormessages.textinput}}</p>
                            {% endif %}                            
                            {% if errormessages is defined and errormessages is not null and errormessages.username is defined %}
                            <p class="errorMessage">{{errormessages.username}}</p>
                            {% endif %}
                            {% if errormessages is defined and errormessages is not null and errormessages.useremail is defined %}
                            <p class="errorMessage">{{errormessages.useremail}}</p>
                            {% endif %}
                            {% if errormessages is defined and errormessages is not null and errormessages.password is defined %}
                            <p class="errorMessage">{{errormessages.password}}</p>
                            {% endif %}
                            {% if errormessages is defined and errormessages is not null and errormessages.firstname is defined %}
                            <p class="errorMessage">{{errormessages.firstname}}</p>
                            {% endif %}
                            {% if errormessages is defined and errormessages is not null and errormessages.lastname is defined %}
                            <p class="errorMessage">{{errormessages.lastname}}</p>
                            {% endif %}
                            {% if errormessages is defined and errormessages is not null and errormessages.email is defined %}
                                <p class="errorMessage">{{errormessages.email}}</p>
                            {% endif %}                            
                        </div>
                        <button class="btn btn-primary" type="submit">Ändern</button>
                    </fieldset>
                    {% if post is not defined %}
                    <p class="text-right">
                        <a href="{{ app.url_generator.generate('update') }}{{ id }}">Zurück</a>
                    </p>
                    {% else %}
                    <p class="text-right">
                        <a href="{{ app.url_generator.generate('postUpdate') }}/{{ id }}">Zurück</a>
                    </p>                        
                    {% endif %}
                </form>
            </div>
        </div>            
    </div>
</div>
{% endblock %}
