{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzer bearbeiten - Adminpanel</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="../../../../../css/style.css">
    {% endblock %}
{% endblock %}

{% block header %}
    <h1>Benutzer bearbeiten:</h1>
    {% include "userheader.twig" %}
{% endblock %}

{% block content %}
    <section id="form">
        <article>
            {% if message is defined %}
                <p>{{ message }}</p>
            {% endif %}
            <form  action="" method="post">
                <label for="{{label_for}}">
                    {{label_text}}
                </label>
                <input type="text" name="{{input_name}}" value="">
                {% if errormessages is defined and errormessages is not null and errormessages.username is defined %}
                    <p class="errorMessage">{{errormessages.username}}</p>
                {% endif %}
                {% if errormessages is defined and errormessages is not null and errormessages.useremail is defined %}
                    <p class="errorMessage">{{errormessages.useremail}}</p>
                {% endif %}
                {% if errormessages is defined and errormessages is not null and errormessages.password is defined %}
                    <p class="errorMessage">{{errormessages.password}}</p>
                {% endif %}                
                <input type="submit" value="Ändern">
            </form>
            <p>
                <a href="{{ app.url_generator.generate('update') }}{{ id }}">Zurück</a>
            </p>                    
        </article>
    </section>	
{% endblock %}

{% block footer %}
    
    <h2 class="heading">Mehr Informationen:</h2>
    <div class="list">
        <ul>
            <li>
                <a href="#">Lorem</a>
            </li>
        </ul>
    </div>
{% endblock %}