{% set value = {
    'username' : '', 
    'useremail' : '', 
    'password' : '',
} %}

{% if errormessages is defined and errormessages is not null %}
    {% set value = {
        'username' : postdata.username,
        'useremail' : postdata.useremail,
        'password' : postdata.password
    } %}
{% endif %}        

{% if message is defined %}
    <p>{{message}}</p>
{% endif %}

{% if message is not defined %}
<div class="container">
    <form  action="" method="post" class="form-signin">
        <h2 class="form-signin-heading text-center">{{headline}}</h2>
        <label for="username" class="sr-only">Benutzername</label>
        <input type="text" name="username" value="{{value.username}}" class="form-control" placeholder="Benutzername" required autofocus>
        {% if errormessages is defined and errormessages is not null and errormessages.username is defined %}
            <p class="errorMessage">{{errormessages.username}}</p>
        {% endif %}
        <label for="useremail" class="sr-only">E-Mail</label>
        <input type="text" name="useremail" value="{{value.useremail}}" class="form-control" placeholder="E-Mail" required>
        {% if errormessages is defined and errormessages is not null and errormessages.useremail is defined %}
            <p class="errorMessage">{{errormessages.useremail}}</p>
        {% endif %}
        <label for="password" class="sr-only">Passwort</label>
        <input type="password" name="password" value="{{value.password}}" class="form-control" placeholder="Passwort" required>
        {% if errormessages is defined and errormessages is not null and errormessages.password is defined %}
            <p class="errorMessage">{{errormessages.password}}</p>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{submitvalue}}</button>
    </form>
</div>
{% endif %}