{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzer bearbeiten - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-body">
                {% if message is defined %}
                <p class="{{message_type}}">{{message}}</p>
                {% endif %}
                <form action="" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="{{label_for}}" class="sr-only">{{label_text}}</label>
                            <input type="text" name="{{input_name}}" class="form-control" placeholder="{{label_text}}" autofocus>
                            {% if errormessages is defined and errormessages is not null and errormessages.username is defined %}
                                <p class="errorMessage">{{errormessages.username}}</p>
                            {% endif %}
                            {% if errormessages is defined and errormessages is not null and errormessages.useremail is defined %}
                                <p class="errorMessage">{{errormessages.useremail}}</p>
                            {% endif %}
                            {% if errormessages is defined and errormessages is not null and errormessages.password is defined %}
                                <p class="errorMessage">{{errormessages.password}}</p>
                            {% endif %}
                        </div>
                        <button class="btn btn-primary" type="submit">Ändern</button>
                    </fieldset>
                    <p class="text-right">
                        <a href="{{ app.url_generator.generate('update') }}{{ id }}">Zurück</a>
                    </p>
                </form>
            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->
{% endblock %}
