{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Benutzer bearbeiten - Adminpanel</title>
    {% endblock %}
{% endblock %}

{% block header %}
    {% include "header.twig" %}
{% endblock %}

{% block content %}
<div class="row row-offcanvas row-offcanvas-left active">
    {% include "sidebar.twig" %}
    <div class="col-sm-7 col-sm-offset-1">
        <div class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                <i class="mdi-action-view-list"></i> Menu
            </button>
        </div>         
        <ol class="breadcrumb">
            <li>
                <a href="javascript:void(0)">
                    <span class="mdi-content-create"></span>
                </a>
            </li>
            <li class="active">Bearbeiten</li>
        </ol>
        {% if message is not defined %}         
        <article class="well">
            {% if errormessages is not defined or errormessages is null %}
            <h2>Einzeln 채ndern:</h2>
            {%endif%}
            <h4>
                <strong>Benutzername:</strong> {{ user.username }}
            </h4>
            {% if errormessages is not defined or errormessages is null %}
            <p>
                <a href="{{ user.id }}/username">Benutzername bearbeiten</a>
            </p>
            {%endif%}          
            <p>
                <strong>E-Mail:</strong> {{ user.useremail }}
            </p>
            {% if errormessages is not defined or errormessages is null %}
            <p>
                <a href="{{ user.id }}/email">E-Mail bearbeiten</a>
            </p>
            {%endif%}
            <p>
                <strong>Passwort:</strong> (Verschl체sselt)
            </p>
            {% if errormessages is not defined or errormessages is null %}
            <p>
                <a href="{{ user.id }}/password">Passwort bearbeiten</a>
            </p>
            {%endif%}
            <p>
                <strong>Rolle:</strong> {{ user.role }}
            </p>
            {% if errormessages is not defined or errormessages is null %}
            <p>
                <a href="{{ user.id }}/role">Rolle bearbeiten</a>
            </p>
            {%endif%}            
        </article>
        {% endif %}
        <section class="well">
            <h3>Alles 채ndern</h3>
            {% if message is defined %}
            <p class="{{message_type}}">{{message}}</p>
            <p class="text-right">
                <a href="{{ app.url_generator.generate('update') }}">Zur체ck</a>
            </p>
            {% endif %}                
            {% include "user_form.twig" %}
        </section>
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}
